@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');


html, body {
  margin: 0;
  height: 100%; 
}
#root {
  height: 100%;
}
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito',;
  background-color: #FFF;
  justify-content:space-between;

}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.main-content {
  flex-shrink: 0;
  padding: 10px;
  height: auto;
  min-height: 100%;
  max-height: 100%;
  flex-wrap: wrap;  
}
.App-header {
  flex-shrink: 0;
  min-height: 10vh;
  flex-direction: row;
  color: white;
}
.App-footer {
  flex-shrink: 0;
  min-height: 10vh;
  flex-direction: row;
  color: white;
}

.App-link {
  color: #61dafb;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 80px;
    height: auto;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
