@import url('https://fonts.google.com/specimen/Playwrite+NZ+Basicp');

body {
  margin: 0;
  font-family: 'Playwrite NZ Basicp';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
